

.pitch-buttons {
    display: inline-flex;
    flex-direction: column;
}



.pitch-buttons label {
    float:left;
    width:70px;
    margin:0px;
    background-color:#FFFFFF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
       
}
.pitch-buttons label span {
    text-align:center;
    font-size: 14px;
    padding:5px 0px;
    display:block;
}

.pitch-buttons label input {
    position:absolute;
    top:-20px;
}

.pitch-buttons input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

/* .pitch-buttons .yellow {
    background-color:#FFCC00;
    color:#333;
}

#donate .blue {
    background-color:#00BFFF;
    color:#333;
}

#donate .pink {
    background-color:#FF99FF;
    color:#333;
}

#donate .green {
    background-color:#A3D900;
    color:#333;
}
#donate .purple {
    background-color:#B399FF;
    color:#333;
} */
