{% extends 'base.html' %}

{% block title %} Music Generator {% endblock %}
<!-- <link rel="stylesheet" href="/static/style.css">    -->

{% block js %}
  <!-- magenta cdn -->
  <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0"></script>
  <!-- babel cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <!-- react cdn -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <!-- react strap cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/4.8.0/reactstrap.min.js"></script>
  <!-- react file -->
  {% if session.get('username') %}
    <script>window.loggedIn=true;</script>
  {% endif %}
  <!-- <script src="static/js/musicGenerator.js" type="text/javascript"></script> -->
  <script src="static/js/musicGenerator.jsx" type="text/babel" ></script>


{% endblock %}


{% block body %}
  
  <h4>Choose Some Notes</h4>
  <div id="show-pitches"><!-- display react radio buttons here --></div>
  <!-- ♩ -->
  <!-- display -->
  <div id="current-notes">

  </div>


  <!-- piano roll goes below -->
  <div id="loading"></div>
  <div class="canvas-roll">
    <canvas  id="piano-roll"></canvas>
  </div>


  {% if session.get('username') %}
    <div class="saved-melodies">
      {% for melody in user_melodies %}
          
        <button class="saved-music-buttons" id="{{ melody.music_id }}">{{ melody.title}}</button>
        <li hidden id="melody-{{ melody.music_id }}">{{ melody.music_data }}</li>
      {% endfor %}
    </div>
      
  {% endif %}



  
{% endblock %}
