{% extends 'base.html' %}

{% block title %} Melodia {% endblock %}
<!-- <link rel="stylesheet" href="/static/style.css">    -->

{% block js %}
  <!-- magenta cdn -->
  <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0"></script>
  <!-- babel cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <!-- react cdn -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <!-- react file -->
  {% if session.get('username') %}
    <script>window.loggedIn=true;</script>
  {% endif %}
  <script src="static/js/musicGenerator.jsx" type="text/babel" ></script>


{% endblock %}


{% block body %}
  
  <h4>Choose a note from each column to make a melody.</h4>
  <div id="home-explain">
    <pre>
      Each column represents a quarter note. Add or delete notes with the add and delete buttons. 
      Use the play button to play your melody and use the stop button to stop your melody. Use the 
      generate melody button to generate a new melody using Google's open source machine learning 
      project Magenta. Magenta will use the default melody that appears in the Generated melody box 
      if none of the notes are selected. Sign up to save your generated melodies. 

    </pre>
  </div>
  <div id="show-pitches"><!-- display react radio buttons here --></div>
  <!-- ♩ -->
  <!-- display -->
  <div id="current-notes">

  </div>


  <!-- piano roll goes below -->
  <div id="gen-melo">Generated melody:</div>
  <div class="canvas-roll">
    
    <canvas  id="piano-roll"></canvas>
  </div>

  {% if session.get('username') %}

  <div id="your-saves">Your saved melodies:</div>
    <div class="saved-melodies">
      
      {% for melody in user_melodies %}
          
        <button class="saved-music-buttons" id="{{ melody.music_id }}">{{ melody.title}}</button>
        <li hidden id="melody-{{ melody.music_id }}">{{ melody.music_data }}</li>
      {% endfor %}
    </div>
      
  {% endif %}



  
{% endblock %}
