
{% extends 'base.html' %}
{% block body %}

  <div class="headline">
    <h2>Sign Up</h2>
  </div>
  <p>To save your creations</p>

  <div class="login-form">
    <form action="/sign-up" method="POST">
      <div class="password-email">Email</div>
      <input class="login-input" type="email" name="email" required>
      <div class="password-email">Password</div>
      <input class="login-input" type="password" name="password" required>
      <div>
      <input class="login-input" type="submit" value="Sign Up">
      </div>
    </form>
  </div>


  <!-- <div class="headline">
        <h2>Login</h2>
      </div>
      <div class="login-form">
        <form action="/login" method="post">
          <div class="password-email">Email</div>
          <input class="login-input" type="email" name="email">
          <div class="password-email">Password</div>
          <input class="login-input" type="password" name="password">
          <div>
          <input class="login-input" type="submit" value="Login">
          </div>
        </form>
      </div> -->
        
  
{% endblock %}
